@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gi-texture {
    background-image: radial-gradient(#c6c5d4 0.5px, transparent 0.5px);
    background-size: 8px 8px;
  }

  .gi-texture-dark {
    background-image: radial-gradient(rgba(26, 35, 126, 0.12) 0.5px, transparent 0.5px);
    background-size: 8px 8px;
  }
}
